@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded|Raleway');
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

}
.wrapper{
	display:grid;
	width:100%;
	grid-template-columns: 1fr 3fr 1fr;
	grid-gap:5px;
	grid-template-areas: "header header header"
						 "left main right"
						 "footer footer footer";
}
h1, h2{
	font-family:'Encode Sans Expanded', sans-serif;
}
p{
	font-family:'Raleway', sans-serif;
}
/* HEADER */
.header{
	grid-area:header;
	background:powderblue;
	text-align: center;
	padding:2em;
	display:flex;
	justify-content: space-between;
}
/* MAIN CONTENT */
.main-content{
	display:flex;
	flex-wrap: wrap;
	
}
.main-content{
	display:grid;
	grid-area: main;
	width:100%;

}
img{
	width:30%;
}
.boks{

	padding:10px;
	margin: 5px;
	background-color: #fcfcfc;
}
/* FOOTER */
.footer{
	grid-area: footer;
	background:powderblue;
	padding:10px;
	text-align:center;
}
/* NAV */
.nav{
	margin:auto;
	flex: 0 1 40%;
}
.nav ul{
	list-style-type:none;'

}
.nav ul li{
	float:left;
	display:block;
	width:auto;
	padding:10px;
	text-decoration:none;
	font-family:'Raleway', sans-serif;
	
}
.nav ul li a{
	text-decoration:none;
	font-size:20px;
	padding:20px;
	
}
 a:visited{
	color:salmon;
}
a:hover, a:active{	
	color:black;	
}
/* MENY KNAPP*/
.meny-content{
	display:none;
	position:absolute;
	background-color:white;
}
.meny-content a{
	text-decoration:none;
	display:block;
}
.meny-content a:hover {
	background-color: salmon;
}
.meny:hover .meny-content{
	display:block;
}
/* OM KNAPP*/
.meg-content{
	display:none;
	position:absolute;
	background:white;
}
.meg-content a{
	text-decoration:none;
	display:block;
}
.meg-content a:hover {
	background-color:salmon;
}
.meg:hover .meg-content{
	display:block;
}
/* ASIDE */
.left-sidebar{
	grid-area: left;
	height:500px;
	padding:10px;
	font-family:'Encode Sans Expanded', sans-serif;
    background-color: #fcfcfc;
}
.right-sidebar{
	grid-area:right;
	height:500px;
	background-color:#fcfcfc;
}
.oblig{
	padding:10px;
	border:1px solid grey;
	margin:5px;
   
}
.forelesning{
	padding:10px;
	border:1px solid grey;
	margin:5px;
	
}
.ovings{
	padding:10px;
	border:1px solid grey;
	margin:5px;
}

table, tr,th {
	border: 1px solid black;
	width:auto;
	font-family:'Encode Sans Expanded', sans-serif;
}
/* IKON */
 .fa {
  padding: 20px;
  text-decoration: none;
  margin: 5px 3px;
  border-radius: 50%;
}
.fa:hover{
	opacity: 0.6;
	color:green;
}
.fa-facebook {
    background:#3B5998;
    color: white;
}
.fa-twitter {
	background:skyblue;
	color:white;
}
.fa-instagram{
	background:red;
	color:white;
}
